{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"defaults"
					]
				},
				"modules": false
			},
			"env"
		]
	],
	"plugins": [
		[
			"import",
			{
				"libraryName": "vant",
				"libraryDirectory": "es",
				"style": true
			}
		],
		"transform-vue-jsx",
		"@babel/plugin-transform-runtime",
		"@babel/plugin-syntax-dynamic-import"
	]
}